:host {
  display: block;
}

.main {
  display: grid;
  grid-template-columns: 280px calc(100% - 280px);
  grid-template-rows: 1fr;
  grid-template-areas: 'nav content';
  min-height: 100vh;
}

.nav {
  grid-area: nav;
  background-color: var(--navBackgroundColor);
  display: flex;
  flex-direction: column;
  border-right: 1px solid var(--navBorderColor);
  a {
    text-decoration: none;
    color: var(--linkColor);
    padding: 1rem;
    transition: hover 0.3s ease-in-out;

    &:hover,
    &.active {
      color: var(--linkActiveColor);
    }
  }
}

.content {
  grid-area: content;
  background-color: var(--contentBackgroundColor);
}

::view-transition-old(nav),
::view-transition-new(nav) {
  animation: none;
}
